---

---

<div id="code-editor"></div>

<script>
  import * as monaco from "monaco-editor";
  const editor = document.getElementById("code-editor");
  const value = `function hello() {
	alert('Hello world!');
  }`;
  
  if (editor != null) {
    monaco.editor.create(editor, {
      value,
      language: "javascript",
      automaticLayout: true,
    });
  }
</script>
<style>
    #code-editor {
        width: 800px;
        height: 200px;
    }
</style>
